<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />


<div class='jumbotron'>
  <h1>Word Count</h1>
</div>
<form action="/result" method="post">

  <label for="wordcheck">Type Word:</label>
  <input type="text" name="wordcheck" class="form-control" id="wordcheck">


  <label for="phrasecheck">Type Phrase:</label>
  <input type="text" name="phrasecheck" class="form-control" id="phrasecheck">


  <button type="submit" class="btn btn-primary">Get Score</button>
</form>
